body {
    overflow: hidden;
    background-color: black;
    animation: changeColor 10s infinite;
}


@keyframes changeColor {
    0% { background-color: rgb(22, 20, 20); }
    25% { background-color: rgb(11, 11, 42); }
    50% { background-color: rgb(24, 27, 24); }
    75% { background-color: rgb(28, 13, 37); }
    100% { background-color: rgb(18, 6, 62); }
}

.star {
    position: absolute;
    background: transparent;
    width: 2px;
    height: 2px;
    background-color: #fff;
    pointer-events: none;
    animation: shooting-star 7s linear infinite alternate;
}


@keyframes shooting-star {
    from {
        left: -10px;
    }
    to {
        left: calc(100% + 10px);
    }

}


#local{
    display: flex;
    align-self: center;
    justify-content: center;
}

.box{
    background-color: aqua;
    padding: 60px;
    padding-bottom: 160px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.titulo{
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-self: center;
    justify-content: center;
    color: white;
}

.botoes1 input{
    border-radius: 15px; 
    padding: 10px;
    margin-left: 95px;
}

.botoes2 input{
    border-radius: 15px; 
    padding: 10px;
    margin-top: 5px;
    margin-left: 95px;
}

.botao{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
}

.botao button{
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:rgb(69, 140, 154);

}

.container {
    text-align: center;
}

.btn-google {
    background-color: #dd4b39;
    color: white;
}
.btn-facebook {
    background-color: #1877f2;
    color: white;
}